.header__text {
    margin: 0;
    padding: 0;
    color: #657776;
    text-align: center;
    font-family: Times New Roman;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.755px;
    text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .header__text {
        font-size: 25px;

    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .header__text {
        font-size: 14px;

    }
}

@media (min-width: 390px) and (max-width: 499px) {
    .header__text {
        font-size: 12px;

    }
}

@media (min-width: 320px) and (max-width: 389px) {
    .header__text {
        font-size: 9px;

    }
}