.header__invite {
    margin: 0 0 10px 0;
    padding: 0;
    color: #8497C2;
    text-align: center;
    font-family: Times New Roman;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.91px;
    text-transform: uppercase;
}


@media (min-width: 1440px) {
    .header__invite {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .header__invite {
        font-size: 15px;
        letter-spacing: 3px;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .header__invite {
        font-size: 13px;
        letter-spacing: 3px;
    }
}

@media (min-width: 390px) and (max-width: 499px) {
    .header__invite {
        font-size: 11px;
        letter-spacing: 2px;
    }
}

@media (min-width: 320px) and (max-width: 389px) {
    .header__invite {
        font-size: 7px;
        letter-spacing: 1.5px;
    }
}