.info__list {
    margin: 0;
    padding: 13px 0 0 12px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}




@media (min-width: 768px) and (max-width: 1000px) {
    .info__list {
        padding: 0;
        gap: 16px;
    }
}


@media (min-width: 500px) and (max-width: 767px) {
    .info__list {
        padding: 0;
        gap: 12px;
    }
}


@media (min-width: 400px) and (max-width: 499px) {
    .info__list {
        padding: 0;
        gap: 10px;
    }
}


@media (min-width: 320px) and (max-width: 399px) {
    .info__list {
        padding: 0;
        gap: 8px;
    }
}