.info__item {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    color: #514174;
    font-family: Apoc LC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.88px;
    letter-spacing: 3.705px;
}


@media (min-width: 1440px) {
    .info__item {
        font-size: 24px;
        letter-spacing: 1.5px;
        line-height: unset;
        padding: 0 40px 0;
    }
}


@media (min-width: 768px) and (max-width: 1000px) {
    .info__item {
        font-size: 10px;
        letter-spacing: 1.5px;
        line-height: unset;
        padding: 0 40px 0;
    }
}


@media (min-width: 500px) and (max-width: 767px) {
    .info__item {
        font-size: 10px;
        letter-spacing: 1.5px;
        line-height: unset;
        padding: 0 40px 0;
    }
}


@media (min-width: 400px) and (max-width: 499px) {
    .info__item {
        font-size: 9px;
        letter-spacing: 1.5px;
        line-height: unset;
        padding: 0 40px 0;
    }
}


@media (min-width: 320px) and (max-width: 399px) {
    .info__item {
        font-size: 9px;
        letter-spacing: 1.5px;
        line-height: unset;
        padding: 0 40px 0;
    }
}